/* !- DO NOT TOUCH -! */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

h1, h2,
p, a,
button,
span {
    color: #272727;
}

/* !- DO NOT TOUCH -! */