.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #4671c6;
    padding: 30px 0;
}

.current-player-screen {
    display: block;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background: #e0ebfc;
    text-align: center;
    padding: 20px 25px;
    margin-bottom: 15px;
}

.current-player-screen .current-player-text,
.players-score .players-score-text {
    font-size: 2rem;
}

.current-player-name {
    font-size: 2rem;
    font-weight: 900;
    color: #24ae5f;
}

.tabletop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    background: #edc463;
    padding: 30px 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px -5px #00000061;
}

.card {
    width: 100%;
    aspect-ratio: 2/3;
    background: orangered;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: all 400ms ease;
    transform-style: preserve-3d !important; 
}

.card.selected,
.card.paired-card {
    transform: rotateY(180deg) !important;
}

.card.paired-card .front {
    filter: saturate(.35);
    opacity: .85;
    cursor: auto;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    transition: all 400ms ease;
}

.card .front {
    background-size: 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: rotateY(180deg);
}

.card .back {
	background: url('../images/card-back.png') #3f444a;
    background-size: 96% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    backface-visibility: hidden;
}

.players-score {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 15px 30px;
    margin-top: 15px;
    border-radius: 10px;
    background: #e0ebfc;
    overflow: hidden;
}

.players-score-text {
    margin-bottom: 10px;
}

.score-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.score-item:nth-child(2n+1):before {
    content: '';
    width: 140%;
    height: 45px;
    background: #00000012;
    position: absolute;
    left: -20%;
    z-index: 0;
}


.score-item .name,.score-item .matches {
    font-size: 1.6rem;
    font-weight: 900;
}