.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4671c6;
}

.tabletop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 800px;
    background: #edc463;
    padding: 30px 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px -5px #00000061;
}

.card {
    width: 100%;
    aspect-ratio: 2/3;
    background: orangered;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: all 400ms ease;
    transform-style: preserve-3d !important; 
}

.card.selected {
    transform: rotateY(180deg) !important;
}

.card.paired-card .front {
    filter: saturate(.35);
    opacity: .85;
    cursor: auto;
}

.card .front,
.card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    transition: all 400ms ease;
}

.card .front {
    background-size: 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transform: rotateY(180deg);
}

.card .back {
	background: url('../images/card-back.png') #3f444a;
    background-size: 96% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    backface-visibility: hidden;
}