/* !- DO NOT TOUCH -! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

h1,
h2,
p,
a,
button,
span {
  color: #272727;
}

/* !- DO NOT TOUCH -! */

.guessing-bg {
  width: 100%;
  height: 100vh;
  background: #bbbbbb;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.guessing-main-container {
  display: flex;
  max-width: 570px;
  width: 100%;
  background: #fff;
  padding: 2.2em 3em;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0 0 3px 0px #0000002e;
}

.guessing-main-container .container-header {
  text-align: center;
  margin-bottom: 30px;
}

.guessing-main-container .guessing-title {
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1.2;
  margin-bottom: 5px;
}

.guessing-main-container .guessing-description {
  font-size: 0.9em;
}

.guessing-main-container .container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-difficulty-wrap {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: fit-content;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: stretch;
}

.select-difficulty-wrap label {
  display: block;
  font-size: 0.8em;
  line-height: 1;
  text-align: left;
  margin-bottom: 5px;
}

.select-guessing-difficulty {
  position: relative;
  display: block;
  max-width: 100%;
  width: 185px;
  height: 2.7em;
  font-size: 1em;
  padding: 5px 9px;
  border: solid 1px;
  border-radius: 10px;
  border-color: #b5b5b5;
  cursor: pointer;
}

.difficulty-info-text {
  display: block;
  font-size: 0.7em;
  line-height: 1;
  text-align: right;
  margin-top: 3px;
}

.generate-number-btn {
  display: block;
  width: fit-content;
  background: #65ed76;
  padding: 10px 35px;
  font-size: 1.4em;
  line-height: 1;
  border-radius: 99px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.generate-number-btn:hover {
  background: #5dd96c;
}

.hidden {
  display: none !important;
  user-select: none !important;
  pointer-events: none !important;
}

.guessing-area-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.guess-number-input,
.guess-number-btn {
  display: block;
  width: fit-content;
  border-radius: 10px;
  font-size: 1em;
}

.guess-number-input {
  background: #eee;
  padding: 5px 10px;
  border: solid 1px;
  border-color: #a39b9b;
  height: 3.5em;
  width: 35%;
}

.guess-number-btn {
  height: 3.5em;
  line-height: 3;
  padding: 5px 25px;
  background: #e39069;
  cursor: pointer;
  transition: all 0.2s ease;
}

.guess-number-btn:hover {
  background: #c57a57;
}

.attempts-view-panel {
  display: block;
  margin-top: 55px;
  font-size: 0.8em;
  line-height: 1;
}
